{% extends '../accounts/base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
{% load staticfiles %}

<div class="account-wrapper1">
<div class="logo">
	<img class="logo-login" src="{% static 'img/logo.png' %}">	
</div>

<div class="account-sub-wrapper">
<h2 style="text-align: left;">Create your account</h2>
<form method="post">

{% csrf_token %}
{{ user_form.as_p }}
<button class="	btn btn-success btn-block">Continue</button>	
</form>
</div>
<div class="">
<br>
	<h6 class="subscript">Already have an account?<a href="{% url 'accounts:login' %}">Sign in</a></h6>
</div>
</div>

{% endblock %}