
.blog_content{
	margin:5% 10%;
	padding: 3%;
	word-wrap: break-word;
	background: #f2ffe6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
p{
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	word-spacing: .1em;
	letter-spacing: .05em;
	font-size: 1em;

}
h2, h1{

    font-family: 'Bitter', serif;

}
h5, h4{

    font-family: 'Merriweather', serif;

}
.underline{
	width: 15em;
	background:  #cc0000;
	height: .3em;
	margin: 0 auto 30px auto;
	border-radius: 1.5em;
}
.end_line{
	width: 80em;
	height: .1em;
	background: rgb(215,215,215);
	margin: 3em auto 5em auto;
}
.blog_image{
	width: 40%;
	margin: 0 30%;
}