.container-fluid{
	padding: 0;
}

/*navbar*/
.nav-cust{
	height: 7em;
}


/* search bar */
.search-div{
	margin-left: 20%;
}
.cust-search-input{
	width: 30em !important;
}
.center{
	text-align: center;
}
.nav-link{
	color: #eeffcc !important;
}
.nav-link:hover{
	color: #fff !important;
}



.header{
	background: url('../img/headerimg.jpeg');
	min-height: 40em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
	opacity: .7;


}

i a{
	color: black;
}

i a:hover{
	color: #222;
	text-decoration: none;
}
i a:focus{
	color: #222;
}
.material-icons{
}


.thumbnail{
	height: 12em;
	width: 12em;
	/*display: inline;*/

}
.moving-wrapper{
   border-radius: 1em;
  margin-bottom: .5em;
  height: 5em;

  /*display: inline-block;*/
}
.item_list{
	white-space: nowrap;
	overflow-x: scroll!important;
}
.item{
	 width: 30em;
    height: 20em;
    display: inline;
}