{% extends './base.html' %}

{% block title %}
{% if category %}
{{ category.item_type }}
{% else %}
Products
{% endif %}
{% endblock %}

{% block content %}

	<!-- <div id="sidebar">
	<h3>Categories</h3>
	<ul>
		<li><a href="{% url 'store:item_list' %}">All</a> </li>
		{% for c in categories %}
		<li><a href="{{ c.get_absolute_url }}"> {{ c.item_type }}</a></li>
		{% endfor %}
	</ul>
	</div>
 -->

{% include './corousel.html' %}

<div class="wrapper">


<div class="item-container">
	<div class="moving-wrapper">
		<div id="main" class="item_list">
			<!-- <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1> -->
			<div class="item-tag">
				<h2>Category</h2>
			</div>


			{% for item in items %}
			<a href="{{ item.get_absolute_url }}">
			<div class="item">
				<img class="thumbnail" src="{{ item.item_image.url }}">
				<p>{{ item.item_name }}</p>
				<p>Rs.{{ item.item_price }}</p>
			</div>
			</a>
			{% endfor %}
			
		</div>
	</div>
</div>

</div>

{% endblock %}
<!-- <ul>
{% for item in items %}
	<li><a href="{% url 'store:item' item.id %}">{{ item.item_name }}</a></li>
{% endfor %}
<ul> -->
